* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Header */
header {
  background: rgb(211, 8, 86);
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 5px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-family: "Rubik Moonrocks", sans-serif;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #000;
  border-bottom: #000 solid 2px;
}

.search-btn {
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  padding: 5px 20px;
}

/* Hero */
.hero {
  position: relative;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.hero-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  mix-blend-mode: overlay;
}

.hero-heading {
  font-family: "Rubik Moonrocks", sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-top: 5rem;
  margin-bottom: 2rem;
  word-spacing: 1.5rem;
}

.hero-text {
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.hero-btn {
  border: #fff solid 2px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

/* Services */
.services {
  position: relative;
  background: #fff;
}

.service-container {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.service-heading {
  background: rgb(211, 8, 86);
  /* border-radius: 10px; */
  font-family: "Rubik Moonrocks", sans-serif;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  left: 580px;
}

.service-items {
  padding: 10px;
  text-align: center;
}

.service-items i {
  background: rgb(211, 8, 86);
  border-radius: 30px;
  padding: 10px;
}

.service-items p a {
  color: rgb(211, 8, 86);
}
