* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  background: rgb(211, 8, 86);
  padding: 5px;
  padding-block: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 5px;
  width: 200px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-family: "Rubik Moonrocks", sans-serif;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #000;
  border-bottom: #000 solid 2px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  margin-left: 20px;
  width: 200px;
}

.search-bar input {
  background: #000;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  width: 120px;
}

.search-bar a {
  /* background: rgb(211, 8, 86); */
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

/* Hero */
.hero {
  position: relative;
  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.hero-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-block: 5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  mix-blend-mode: overlay;
}

.hero-heading {
  font-family: "Rubik Moonrocks", sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-top: 5rem;
  margin-bottom: 2rem;
  word-spacing: 1.5rem;
}

.hero-text {
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.hero-btn {
  border: #fff solid 2px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

/* Services */
.services {
  background: #fff;
  padding-block: 2rem;
}

.service-container {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.service-heading {
  font-family: "Rubik Moonrocks", sans-serif;
  color: rgb(211, 8, 86);
  text-align: center;
  margin-block: 1rem;
}

.service-items {
  padding: 10px;
  text-align: center;
}

.service-items i {
  background: rgb(211, 8, 86);
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 1rem;
}

.service-items h2 {
  margin-bottom: 1rem;
}

.service-items p a {
  color: rgb(211, 8, 86);
}

/* Portfolio */
.portfolio {
  background: rgb(211, 8, 86);
  padding-block: 2rem;
}

.portfolio-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 20px;
}

.portfolio-items {
  color: #fff;
}

.portfolio-heading {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.portfolio-heading h2 {
  font-family: "Rubik Moonrocks", sans-serif;
  font-size: 1.5rem;
}

.portfolio-btn {
  border: #fff solid 2px;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

/* Offer */
.offer {
  border-bottom: rgb(211, 8, 86) solid 2px;
  padding-block: 2rem;
}

.offer-heading {
  color: rgb(211, 8, 86);
  font-family: "Rubik Moonrocks", sans-serif;
  text-align: center;
  margin-block: 1rem;
}

.offer-text {
  text-align: center;
  margin-bottom: 1rem;
}

.offer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.offer-items {
  padding: 20px;
}

.offer-items h2 {
  color: rgb(211, 8, 86);
  margin-bottom: 1rem;
}

.offer-items p {
  margin-bottom: 1rem;
}

.offer-items p a {
  color: rgb(211, 8, 86);
}

.offer-btn {
  background: rgb(211, 8, 86);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

/* Testimonials */
.testimonial {
  text-align: center;
  padding-block: 2rem;
}

.testimonial-heading {
  color: rgb(211, 8, 86);
  font-family: "Rubik Moonrocks", sans-serif;
  text-align: center;
  margin-block: 1rem;
}

.quote {
  font-size: 2rem;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 1rem;
}

.name {
  color: rgb(211, 8, 86);
  text-align: center;
  margin-bottom: 1rem;
}

.people {
  display: flex;
  align-items: center;
  justify-content: center;
}

.people img {
  border-radius: 50px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  background: #000;
  color: #fff;
  padding-block: 2rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding: 20px;
}

.footer-container h3 {
  color: rgb(211, 8, 86);
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: "Rubik Moonrocks", sans-serif;
}

.pink {
  color: rgb(211, 8, 86);
}

.part1 {
  border-bottom: #fff solid 2px;
  margin-bottom: 1rem;
}

.contacts {
  margin-bottom: 1rem;
}

#email {
  display: block;
  margin-bottom: 1rem;
  outline: none;
}

.email-btn {
  background: rgb(211, 8, 86);
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    display: block;
  }

  .logo {
    border-radius: 80px;
    margin: auto;
    margin-top: 1rem;
    width: 400px;
  }

  .navbar {
    padding: 20px;
  }

  .navbar ul li a {
    margin-left: 10px;
  }

  .search-bar {
    display: block;
    margin: auto;
  }

  .search-bar input {
    width: 150px;
  }

  .hero-heading {
    font-size: 2rem;
  }

  .hero-text {
    padding: 20px;
  }

  .hero-btn {
    font-size: 1rem;
  }

  .service-container {
    grid-template-columns: 1fr;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: auto;
    text-align: center;
  }

  .offer-text {
    padding: 20px;
  }

  .offer-container {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }

  .offer-items {
    padding: 10px;
  }

  .testimonial {
    padding-inline: 2rem;
  }

  .quote {
    font-size: 1.5rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }
}

@media (max-width: 375px) {
  .logo {
    width: 200px;
  }

  .navbar {
    padding: 0;
    padding-top: 20px;
  }

  .navbar ul {
    display: block;
    text-align: center;
    /* margin-bottom: 1rem; */
  }

  .navbar ul li {
    margin-bottom: 1rem;
  }

  .hero-flexbox {
    padding-block: 0;
  }

  .hero-heading {
    margin-top: 2rem;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
  }
}
